.address-container {
  width: 231px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-style: normal;
  &__email,
  &__tel {
    color: $footer-list-info;
    text-decoration: none;
  }

  &__location {
    display: inline-block;
    color: $footer-list-address;
    margin-bottom: 12px;
  }

  &__email {
    display: inline-block;
    margin-bottom: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__email:hover,
  &__email:focus,
  &__tel:hover,
  &__tel:focus {
    color: $add-color;
  }
}
