$primary-text-color: #757575;
$tittle-text-color: #212121;
$firspart-logo-header: #2196f3;
$firspart-logo-footer: #2196f3;
$secondpart-logo-header: #000000;
$secondpart-logo-footer: #ffffff;
$add-color: #2196f3;
$button-bgcolor: #2196f3;
$button-active-bgcolor: #188ce8;
$button-add-bgcolor: #f5f4fa;
$color-button: #ffffff;
$button-add-color: #212121;
$hero-title-color: #ffffff;
$main-bgcolor: #ffffff;
$header-bgcolor: #ffffff;
$hero-section-bgcolor: #c4c4c4;
$info-section-bgcolor: #f5f5f5;
$explain-section-bgcolor: #f5f5f5;
$last-section-bgcolor: #f5f4fa;
$footer-bgcolor: #2f303a;
$footer-list-address: #ffffff;
$footer-list-info: rgba(255, 255, 255, 0.6);

$fill-social-network: #afb1b8;
$fill-customers: #afb1b8;
$fill-customers-hover: #2196f3;
$border-customers: #afb1b8;
$fill-social-network-hover: #ffffff;
$background-social-network-hover: #2196f3;
$fill-social-network-footer: #ffffff;
$background-social-network-footer: rgba(255, 255, 255, 0.1);
$block-feature: rgba(245, 244, 250, 1);
$secendory-text-color: #ffffff;
$bgc-text-show: rgba(47, 48, 58, 0.8);
$fiil-icon-close: #000000;
$bgc-icon-close: #ffffff;
$text-overlay-color: #ffffff;
$text-overflow-bgc: rgba(33, 150, 243, 0.9);
$title-form-footer-color: #ffffff;
$input-email-footer: rgba(255, 255, 255, 0.6);
$title-modal: #212121;
$link-modal-color: rgba(33, 150, 243, 1);
